@font-face {
    font-family: rej;
    src: url(Rejouice-Headline.ttf);
}

@font-face {
    font-family: kaj;
    src: url(Kajiro\ Bold.ttf);
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    font-family: rej;
    position: relative;
}

#medium{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgb(121,107,255); */
background: linear-gradient(90deg, rgba(121,107,255,1) 0%, rgba(108,255,175,1) 70%, rgba(108,255,175,1) 100%);
}

.card{
    height: 28vw;
    width: 25vw;
    background-color: rgba(237, 241, 241, 0.342);
    border-radius: 3vw;
    display: flex;
    flex-direction: column;
    padding: 2vw 1vw;
    
}
.card h2{
    font-size: 1.8vw;
    text-align: center;
    color: #fff;
    font-weight: 200;
    letter-spacing: 0.1vw;
    margin-bottom: 4vw;
}

label{
    font-size: 1.2vw;
    color: #fff;
    font-weight: 100;
    margin-bottom: 1vw;
    line-height: 0.5vw;
}

input{
    border: none;
    background-color: rgba(240, 235, 235, 0.411);
    padding: 0.8vw 0.6vw ;
    border-radius: 0.5vw;
    color: #fff;
    font-size: 1.2vw;
    margin-top: -0.3vw;
    outline: none;
    border: 1px solid #fff;
}

#dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vw;
    margin-top: 1vw;
}


#from p{
    font-size: 1.2vw;
    color: #fff;
    font-weight: 100;
    margin-bottom: 0.3vw;
}

#to p{
    font-size: 1.2vw;
    color: #fff;
    font-weight: 100;
    margin-bottom: 0.3vw;
    text-align: right;
}

.select{
    background-color: rgba(240, 235, 235, 0.411);
    /* color: #fff; */
    font-size: 1vw;
    font-family: rej;
    padding: 0.4vw 0.4vw;
    border: 1px solid #fff;
    border-radius: 4px;
    outline: none;
}



.card button{
    background-color: rgba(240, 235, 235, 0.411);
    color: #fff;
    font-size: 1.2vw;
    font-family: rej;
    padding: 0.4vw 0.4vw;
    border-radius: 4px;
    border: 1px solid #fff;
    cursor: pointer;
}
.msg{
    margin-top: 2vw;
    display: flex;
    justify-content: center;    
    align-items: center;
}

.msg span{
    font-size: 1.8vw;
    color: #fff;
    font-weight: 100;
}


#first{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: bisque;
    position: absolute;
    top: 0;
}

#last{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: bisque;
    position: absolute;
    bottom: 0;
}

#first h1{
    font-family: kaj;
    font-size: 12vw;
    font-weight: 100;
    position: absolute;
    top: 77%;
}

#last h1{
    font-family: kaj;
    font-size: 12vw;
    font-weight: 100;
    position: absolute;
    bottom: 71.5%;
}


@media only screen and (max-width: 600px){
    
#first h1{
    font-size: 20vw;
    top: 87%;
}

#last h1{
    font-size: 20vw;
    bottom: 84.5%;

}

.card{
    height: 60vw;
    width: 50vw;
    border-radius: 3vw;
    padding: 4vw 4vw;
    
}

.card h2{
    font-size: 4vw;
    margin-bottom: 5vw;
}

label{
    font-size: 2.5vw
}

input{
    padding: 1.8vw 0.6vw;
    border-radius: 1.5vw;
    font-size: 2.8vw;
    margin-top: 0.7vw;
}

#dropdown{
    margin-bottom:4vw;
    margin-top: 4vw;
}


#from p{
    font-size: 2.5vw;
    color: #fff;
    font-weight: 100;
    margin-bottom: 0.3vw;
}

#to p{
    font-size: 2.5vw;
    color: #fff;
    font-weight: 100;
    margin-bottom: 0.3vw;
    text-align: right;
}

.select{

    font-size: 2.2vw;
    border-radius: 4px;
    height: 5vw;
    width: 13vw;
}



.card button{
    font-size: 3vw;
    margin-bottom: 1vw;
    padding: 0.9vw 0.4vw;
    border-radius: 4px;
}

.msg span{
    font-size: 3.8vw;
}
}